.content {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content form {
    width: 500px;
}

@media screen and (max-width: 550px){
    .content form {
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    .content form {
        width: 300px;
    }
}