:root {
    --size: 40px
}

.content {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
}

.content > div {
    flex: 1;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.valuefor {
    display: flex;
    font-size: 13px;
}

.valuefor > div {
    flex: 1;
    text-align: center;
}

.valuefor > div:nth-of-type(1){
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size);
    background-color: #ddd160;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
}

.valuefor > div:nth-of-type(1):hover{
    background-color: #F0E68C;
}

.amount {
    color: #33A0D2;
    font-weight: bold;
    font-size: 15px;
}