:root {
    --size: 60px;
}

.content {
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content > div {
    flex: 1;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.title > div {
    font-size: 13px;
}

.valuefor {
    display: flex;
    font-size: 15px;
}

.valuefor > div {
    flex: 1;
    text-align: center;
}


.operators {
    display: flex;
    justify-content: space-between;
}

.operators > div {
    margin: 3px 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

.operators > div:nth-of-type(3) {
    background-color: #48CF73;
}
.operators > div:nth-of-type(3):hover {
    background-color: #25ac50;
}
.operators > div:nth-of-type(2) {
    background-color: #BB285C;
}
.operators > div:nth-of-type(2):hover {
    background-color: #88053a;
}
.operators > div:nth-of-type(1) {
    background-color: #33A0D2;
}
.operators > div:nth-of-type(1):hover {
    background-color: #0070a0;
}

.amount {
    color: #33A0D2;
    font-weight: bold;
    font-size: 15px !important;
}
