.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    width: 80px;
    cursor: pointer;
}

.title {
    text-align: center;
}
