.content {
    margin-top: 80px;
    margin-bottom: 120px;
    padding: 10px;
}

.content h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.floatBar {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.floatBarFlex {
    display: flex;
    justify-content: center;
}

.floatBar > div {
    display: inline-block;
}

.floatBar > div a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ddd;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.itemsToCount {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    user-select: none;
    margin-bottom: 70px;
}

@media screen and (max-width: 1100px){
    .itemsToCount {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px){
    .itemsToCount {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px){
    .itemsToCount {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px){
    .itemsToCount {
        grid-template-columns: repeat(1, 1fr);
    }
}
