.content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.content > div {
    width: 90%;
    text-align: center;
}

.options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionTitle {
    margin-left: 10px;
    font-size: 25px;
}

.signOut {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.signOut span {
    margin-left: 10px;
}