.content {
    margin-top: 80px;
    margin-bottom: 120px;
    padding: 10px;
}

.content h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.floatBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}

.floatBar > div {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.floatBar > div:nth-of-type(1) {
    background-color: #BB285C;
}
.floatBar > div:nth-of-type(2) {
    background-color: #FCAB10;
}
.floatBar > div:nth-of-type(3) {
    background-color: #2B9EB3;
}
.floatBar > div:nth-of-type(4) {
    background-color: #DBD5B5;
}

.floatBar img {
    height: 40px;
}

.itemsToCount {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    user-select: none;
    margin-bottom: 70px;
}

@media screen and (max-width: 1100px){
    .itemsToCount {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px){
    .itemsToCount {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px){
    .itemsToCount {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px){
    .itemsToCount {
        grid-template-columns: repeat(1, 1fr);
    }
}