.content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}