.content {
    margin-top: 80px;
    padding: 10px;
}

.content h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.itemsToCount {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    margin-bottom: 70px;
}

.itemsToCount > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}